<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-xs-2 col-md-2 collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776; Menu</span> 
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
        <a href="/">Home</a>
        <a href="#">Winners</a>
        <a href="#">Nominees</a>
        <a href="#">Colletions</a>
        <a href="#">Blog</a>
        <a href="#">Abouts Us</a>
        <a href="#">Conferences</a>
      </div>    
    </a>
  </div>

  <div class="col-xs-7 col-md-6">
    <div class="row">
      
        <div class="col-md-2 container search-section">
          <div class="row">
              
              <!-- Search form -->
<div class="md-form active-pink-2 mb-3">
  <input class="form-control" type="text" action=" {% url 'search_projects' %}" placeholder="Search" aria-label="Search">
</div>
          </div>
      </div>
     
      <div class="col-md-10" style="text-align:center;">
       <a href="/"> AWWWARDS.</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    {% if user.is_authenticated %}
    <div class="dropdown">
        <a class="btn btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><span style="cursor:pointer">&#9776;</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Activity</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Collections</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notifications</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout <img style="width: 20px; float: right;"
                    src="https://image.flaticon.com/icons/png/512/126/126467.png" alt=""></a>
        </div>
    </div>
</div>
{% else %}

<a class='btn btn-default' href="/accounts/login">Login</a>

{% endif %}
</div>
  
  <div class="col-xs-2 col-md-2" id="omena" style="padding-top:15px; background-color: #49c5b6; text-align:center">
      <a href="{%url 'new-image' %}" style="color:white; font-size:14px; text-decoration: none; ">SUBMIT YOUR
          SITE
      </a>
  </div>

</nav> 