{%extends 'base.html'%} {% load bootstrap4 %} {% block content %}

<div class="project-detail">
  <div class="container-fluid ">
    <div class="container">
      <div class="row">
        <div class="col m6">
          <div class="row">
            <div class="row">
              <h1 class="text-center">{{post.title}}</h1>
            </div>
            <div class="col m6">
              <img src="{{post.project_image.url}}" class="img-responsive project-art" alt="">
            </div>
            <div class="row">
              {% autoescape on %} {{post.post| safe}} {% endautoescape %}
            </div>
          </div>

          <div class="row">
            <p>Posted {{post.pub_date|timesince}} ago by : {{post.uploaded_by.username}}</p>
          </div>
          <div class="row">
            <p>Link to live site:</p><a href="{{post.link}}"> {{post.link}}</a>
          </div>
          <div class="row">

            <ul class="list-inline">
              <li class="list-inline-item">
                <h4>Rate By Design</h4>
                <form action="/project/{{post.id}}/review_design/" method="POST">
                  {%csrf_token%} {% bootstrap_form form layout='inline' %}
                  <input type="submit" value="Rate">
                </form>
                <p>{{ post.rating.count }}
                  <p style="color: green;">Design
                    </h5> average = {{ post.average_design | floatformat }}
                  </p>
              </li>
              <li class="list-inline-item">
                <h4>Rate By Content</h4>
                <form action="/project/{{post.id}}/review_content/" method="POST">
                  {%csrf_token%} {% bootstrap_form form layout='inline' %}
                  <input type="submit" value="Rate">
                </form>
                <p>{{ post.rating.count }}
                  <p style="color: green;">Content
                    </h5> average = {{ post.average_content | floatformat }}
                  </p>
              </li>
              <li class="list-inline-item">
                <h4>Rate By Usability</h4>
                <form action="/project/{{post.id}}/review_usability/" method="POST">
                  {%csrf_token%} {% bootstrap_form form layout='inline' %}
                  <input type="submit" value="Rate">
                </form>
                <p>{{ post.rating.count }}
                  <p style="color: green;">Usability
                    </h5> average = {{ post.average_usability | floatformat }}
                  </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid white-text">
    <div class="container">
      <h3 class="center-align">Reviews</h3>
      {% for comment in post.comments.all %}
      <p><strong>{{ comment.user.username }}</strong>:{{comment.comment}} </p>
      {% endfor %}
      <form id='comment' action="/comment/{{post.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {% bootstrap_form comment_form %}
        <input type="submit" class="btn btn-primary btn-sm" value="comment">
      </form>
    </div>
  </div>
</div>


{% endblock %}